<?xml version="1.0"?>
<configuration>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<!--
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AdjustablePreview.log" />
			</listeners>
		</trace>
		<switches>
			<add name="TraceLevelSwitch" value="4"/>
		</switches>
	</system.diagnostics>
-->	
</configuration>
